body {
    background-image: url("../images/bg/tileable_wood_texture.png") !important;
}

.twelve.columns {
    width: 98%;
    margin-bottom: 15px;
}

#logo {
    margin-top: 13px;
}

#additional-menu {
    margin-top: 27px;
}

.custom_fix_menu {
    position: fixed;
    top: 0px;
    margin: 0px;
    left: 0px;
    z-index: 101;
}

.container_menu {
    margin: 15px 0 25px;
    min-width: 100%;
}

.container_menu .sixteen {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 767px) {
    .container_menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 999;
    }

    .container_menu .sixteen a {
        padding: 0px;
        margin: 0px;
    }

    .custom_show_prod {
        width: 135px !important;
        margin: 0 6px !important;
    }

    .custom_show_port .from-the-blog-image {
        max-height: 130px;
    }

    .the-team-content, .from-the-blog-content {
        padding: 10px 20px;
    }

    .the-team-content span, .from-the-blog-content span {
        margin: 9px 0;
    }

    /*.custom_carousel ul li {*/
        /*width: 250px !important;*/
    /*}*/

    .custom_carousel img {
        height: 215px !important;
    }
}